ul.socials
    li.socials_item
        a.socials_link.link-vk(href="#", target="_blank")
            svg.socials_svg.link-vk(preserveAspectRatio="xMinYMin meet")
                use.svg_icon(xlink:href="assets/img/sprite/sprite/img.svg#vk")
    li.socials_item
        a.socials_link.link-github(href="#", target="_blank")
            svg.socials_svg(preserveAspectRatio="xMinYMin meet")
                use.svg_icon.link-github(xlink:href="assets/img/sprite/sprite/img.svg#github")
    li.socials_item
        a.socials_link.link-in(href="#", target="_blank")
            svg.socials_svg.link-in(preserveAspectRatio="xMinYMin meet")
                use.svg_icon(xlink:href="assets/img/sprite/sprite/img.svg#in")