.slider_main
    .slider_main__left__block
        .slider_main__info
            .slider_main__title Сайт школы онлайн образования
            .slider_main__description HTML , CSS, JAVASCRIPT
            .slider_main__button
                a(href="#" class="slider_link") Посмотреть сайт
    .slider_main__right__block
        .slider_main__img__box
            ul.slider_main__list
                li.slider_main__item
                    img(src="/assets/img/work-1.png" class="slider_main__left__item__img")
                li.slider_main__item
                    img(src="/assets/img/work-2.png" class="slider_main__left__item__img")
                li.slider_main__item
                    img(src="/assets/img/work-3.png" class="slider_main__left__item__img")
                li.slider_main__item
                    img(src="/assets/img/work-4.png" class="slider_main__left__item__img")
        .slider_boxes
            .slider_box__left
                ul.slider_box__left__list
                    li.slider_box__left__item
                        img(src="/assets/img/work-1.png" class="slider_main__left__item__img")
                    li.slider_box__left__item
                        img(src="/assets/img/work-2.png" class="slider_main__left__item__img")
                    li.slider_box__left__item
                        img(src="/assets/img/work-3.png" class="slider_main__left__item__img")
                    li.slider_box__left__item
                        img(src="/assets/img/work-4.png" class="slider_main__left__item__img")
            .slider_box__right
                ul.slider_box__right__list
                    li.slider_box__right__item
                        img(src="/assets/img/work-1.png" class="slider_main__left__item__img")
                    li.slider_box__right__item
                        img(src="/assets/img/work-2.png" class="slider_main__left__item__img")
                    li.slider_box__right__item
                        img(src="/assets/img/work-3.png" class="slider_main__left__item__img")
                    li.slider_box__right__item
                        img(src="/assets/img/work-4.png" class="slider_main__left__item__img")

