.section-slider__main.sl-main-block
    .sl-main-block__title.sl-mainblock
        .sl-mainblock__info.slm-block
            .slm-block__title Сайт школы онлайн образования
            .slm-block__description HTML , CSS, JAVASCRIPT
            .slm-block__button.slider-slink
                a(href="#" class="slider-slink__link") Посмотреть сайт
    .sl-main-block__img.sl-imgblock
        .sl-imgblock__box.sl-inner
            ul.sl-inner__list.sl-items
                li.sl-items__item.sl-img
                    img(src="/assets/img/big_work.png" class="sl-img__img")
        .sl-imgblock__nav.nav-down.nav-up
            .nav-down__inner.sl-nav
                .sl-nav__inner.button-down
                    svg.button-down__svg(preserveaspectratio='xMaxYMax meet', viewbox='0 0 25.18 16.164')
                        use(xlink:href='assets/img/sprite/sprite/img.svg#arrow_down')

                .sl-nav__mask.sl-box
                ul.sl-box__list.sl-items
                    li.sl-items__item
                        img(src="/assets/img/big_arrow_down.png")
            .nav-up__inner.sl-nav
                .sl-nav__inner.button-up
                    svg.button-up__svg(preserveaspectratio='xMaxYMax meet', viewbox='0 0 25.18 16.164')
                        use(xlink:href='assets/img/sprite/sprite/img.svg#arrow_down')
                .sl-nav__mask.sl-box
                ul.sl-box__list.sl-items
                    li.l-items__item
                        img(src="/assets/img/big_arrow_up.png")

