.slider_main
    .slider_main__left__block
        .slider_main__info
            .slider_main__title Сайт школы онлайн образования
            .slider_main__description HTML , CSS, JAVASCRIPT
            .slider_main__button
                a(href="#" class="slider_link") Посмотреть сайт
    .slider_main__right__block
        .slider_main__img__box
            ul.slider_main__list
                li.slider_main__item
                    img(src="/assets/img/big_work.png" class="slider_main__left__item__img")
        .slider_boxes
            .slider_box__left
                .slider_portf_arrow_down
                    svg.arrow-down__svg(preserveaspectratio='xMaxYMax meet', viewbox='0 0 25.18 16.164')
                        use.svg__icon(xlink:href='assets/img/sprite/sprite/img.svg#arrow_down')

                .slider_box__mask
                ul.slider_box__left__list
                    li.slider_box__left__item
                        img(src="/assets/img/big_arrow_down.png" class="slider_box__left__item__img")
            .slider_box__right
                .slider_portf_arrow_up
                    svg.arrow-up__svg(preserveaspectratio='xMaxYMax meet', viewbox='0 0 25.18 16.164')
                        use.svg__icon(xlink:href='assets/img/sprite/sprite/img.svg#arrow_down')
                .slider_box__mask
                ul.slider_box__right__list
                    li.slider_box__right__item
                        img(src="/assets/img/big_arrow_up.png" class="slider_box__right__item__img")

