block content
    .wrapper-home
        .background-img
        header.header
            .button_authorization
                a.button_authorization__link(href="#") Авторизоваться
        .container
            .info-box
                .info-box__photo
                    .info-box__imageround
                        img(src="/assets/img/myphoto.jpg" class="rounded-image")

                .info-box__name= one.Globvars.name
                .info-box__caption Личный сайт веб разработчика
                include ../common/_soc_widget
            +nav('menu-home', {
                "Мои работы": "works.html",
                "Обо мне": "about.html",
                "Блог": "blog.html"
            })
        footer.footer
            .footer__copiright © #{one.Globvars.name} | создано с любовью в LoftSchool | 2017