block content
    .block-wellcome
        .button_authorisation
            a.button_authorisation__link(href="#") Авторизоваться
        .info-box.info-box__wellcome.info-box__front
            .info-box__wellcome__image
                img(src = ("/assets/img/me.png"))
            h1.info-box__wellcome__name= one.Globvars.name
            h2.info-box__wellcome__comment Личный сайт веб разработчика
            .info-box__wellcome__socials
                include ../common/_soc_widget
            +nav('menu-wellcome', ["Мои работы", "Обо мне", "Блог"])
    footer.copyright.page-wellcome © #{one.Globvars.name} | создано с любовью в LoftSchool | 2017