%clearfix{
  &:after, &:before{
    content: "";
    display: table;
  }
  &:after{
    clear: both;
  }
}
@mixin testM($var1, $var2){
  color: $var1;
  background: $var2;
}
//$varCircHtml5: one.Circles.html5;
$varCircHtml5: 0.85;
.class{
  @include testM(#fff, #000);
  @extend %clearfix;
  opacity: $varCircHtml5;
}
.wrapper {
  overflow: hidden;
}

body.home {
  height: 2566px;
}

.l-hero {
}

.l-hero__bg {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.l-hero__bg__img {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url(/assets/img/background-night-big.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100%;
}

.l-hero .socials {
  float: left;
  margin: 29px 0 0 20px;
  z-index: 10;
  position: absolute;
}

.l-hero__container {
  margin: auto;
  width: 100%;
  height: 600px;
}

.svg__stars {
  fill: #fff;
  opacity: .07;
  width: 456px;
  height: 275px;
  position: absolute;
  left: 649px;
  top: 116px;
  z-index: -1;
}

.c-user__pic {
  width: 143px;
  height: 143px;
  margin: auto;
  top: 154px;
  position: absolute;
  left: 829px;

}

.c-user__profile {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 295px;
  width: 100%;

}

.c-user__comment {
  font-family: 'Roboto-Regular';
  font-size: 16px;
  opacity: 0.8;
}

.c-user__name {
  font-family: 'Roboto-Medium';
  margin: 20px 0 6px 0;
  font-size: 35px;
}

.l-about {
  flex-direction: row;
  display: flex;
  position: relative;
  z-index: 2;
}

.labout__col {
  background-color: #f2f0e8;
  width: 50%;
}

.labout__col_left .c-about__triangle {
  width: 0;
  width: 0;
  height: 0;
  border-bottom: 158px solid #f2f0e8;
  border-right: 900px solid transparent;
  position: absolute;
  left: 0;
  margin-top: -158px;
}

.labout__col_rigth .c-about__triangle {
  width: 0;
  width: 0;
  height: 0;
  border-right: 900px solid #f2f0e8;
  border-top: 158px solid transparent;
  position: absolute;
  right: 0;
  margin-top: -158px;
}

.c-section-title {
  display: table-column;float: left;
  margin-top: 5px;

}

.c-section-title__title {
  font-family: 'SansusWebissimo';
  text-transform: uppercase;
  padding-left: 120px;
  font-size: 63px;
  color: #474b57;
}

.svg__about__img {
  position: absolute;
  left: 64px;
  top: -34px;
  fill: #1056d1;
  opacity: 0.1;
  transform-origin: center;
  transform: rotate(189deg) scale(1.25);
}
.c-about{
 width: 495px;display: table-column;float: right;
}
.c-about__pic{
  margin: 20px 20px 30px 0;
  float: right;
}
.c-block-title{
  color: #474b57;
  font-size: 35px;
  font-family: 'SansusWebissimo';
  text-transform: uppercase;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  float: right;

}
.c-block-title__title{
  padding-bottom: 21px;
  border-bottom: 3px solid #474b57;
}
.c-block-text{
  color: #474b57;
  font-family: 'Roboto';
  font-size: 16px;
  float: left;
  margin-top: 40px;
}
.c-block-text__text{
  margin-left: 33px;
  padding-right: 78px;
  line-height: 23px;
    p{margin-top: 13px;
    }
}