.section-footer{
  height: 185px;
  background-color: rgba(28, 31, 41, 0.5);
  overflow: hidden;
  z-index: 2;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.section-footer__container {
  height: 147px;
}

.section-footer__col {
  display: table-cell;
  width: 33.33%;
}

@mixin footer_margin() {
  margin: 24px 30px;
}

.section-footer__slogan {
  @include footer_margin();
}

.section-footer__slogantext {
  line-height: 24px;
  width: 70%;
}

.section-footer__nav {
  @include footer_margin();
  &:before {
    content: "";
    display: block;
    height: 88px;
    width: 1px;
    background: #fff;
    position: absolute;
    margin: 3px 0 0 -30px;
    opacity: 0.2;
  }
}

.footer-menu__item {
  padding-right: 35px;
  list-style-type: none;
  display: inline-block;
}

.footer-menu__link {
  text-decoration: none;
  &:hover {
    color: #004cd1;
  }
}

.section-footer__soc {
  float: left;
  margin: -2px 0 0 22px;
}

.section-footer__contact {
  @include footer_margin();
  &:before {
    content: "";
    display: block;
    height: 88px;
    width: 1px;
    background: #fff;
    position: absolute;
    margin: 3px 0 0 -30px;
    opacity: 0.2;
  }
}

.section-footer__text {
  line-height: 26px;
}

.section-footer__copiright {
  background: rgba(8, 60, 150, 0.85);
  height: 38px;
  padding: 4px 0;
}

.section-footer__copirighttext {
  font-family: 'Roboto-Light';
  line-height: 24px;
  text-align: center;

}