.footer-big {
  height: 185px;
  background-color: rgba(28, 31, 41, 0.5);
  overflow: hidden;
  display: blok;
  z-index: 2;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer-big_top {
  height: 147px;
}

.footer-big_col {
  display: table-cell;
  width: 33.33%;
}

@mixin footer_margin() {
  margin: 24px 30px;
}

.footer-big_comment {
  @include footer_margin();
}

.footer-big_comment__text {
  line-height: 24px;
  width: 70%;
}

.footer-big_menu_soc {
  @include footer_margin();
  &:before {
    content: "";
    display: block;
    height: 88px;
    width: 1px;
    background: #fff;
    position: absolute;
    margin: 3px 0 0 -30px;
    opacity: 0.2;
  }
}

.footer-big_menu__item {
  padding-right: 35px;
  list-style-type: none;
  display: inline-block;
}

.footer-big_menu__link {
  text-decoration: none;
  &:hover {
    color: #004cd1;
  }
}

.footer-big_soc {
  float: left;
  margin: 22px 0 0 -8px;
}

.footer-contact_title {
  @include footer_margin();
  &:before {
    content: "";
    display: block;
    height: 88px;
    width: 1px;
    background: #fff;
    position: absolute;
    margin: 3px 0 0 -30px;
    opacity: 0.2;
  }
}

.footer-contact_text {
  line-height: 26px;
}

.footer-big_bottom {
  background: rgba(8, 60, 150, 0.85);
  height: 38px;
}

.copiright-big {
  font-family: 'Roboto-Light';
  line-height: 24px;
  width: 100%;
  text-align: center;
  padding: 4px 0;
}