.page-home{width: 100%;
  margin: auto;
  position: fixed;height: 100%;}
.wrapper-home{overflow: hidden;
  width: 100%;
  position: relative;
  height: 100%;}
.background-img {
  width: 100%;
  height: 100%;
  background: url('/assets/img/back_main.jpg') no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  z-index: -1;
}

.button_authorization {
  position: absolute;
  border: 1px solid #fff;
  right: 0;
  margin: 1.36% 5.5% 0 0;
  &:hover {
    background: #083c96;
    border: 1px solid #083c96;
  }
}

.button_authorization__link {
  text-decoration: none;
  padding: 10px 28px;
  font-family: 'Roboto-Medium';
  line-height: 22px;
  display: block;
}

.header {
  position: absolute;
  width: 100%;
  display: block;
  top: 0;
}

.container {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.info-box__imageround {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}

.rounded-image {
  position: relative;
  width: initial;
  height: inherit;
  left: 50%;
  transform: translateX(-50%);
}

.info-box {
  background: rgba(28, 31, 41, 0.5);
  padding: 35px 70px;
  &__photo {
    width: 143px;
    height: 143px;
    margin: 0 auto 10px auto;
  }
}

.info-box__name {
  text-align: center;
  font-family: 'Roboto-Medium';
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 10px;
}

.info-box__caption {
  text-align: center;
  opacity: 0.8;
  margin-bottom: 30px;
}

.socials {
  text-align: center;
}

.socials__item {
  display: inline-block;
  list-style: none;
}

.socials__link {
  display: block;
  padding: 0 12px;
}

.socials__svg {
  fill: #fff;
  width: 27px;
  height: 27px;
  .ic-link-in {
    height: 23px;
    margin-bottom: 3px;
  }
  &:hover {
    fill: #0548be;
  }
}
.menu-home__item {
  list-style: none;
  display: table-cell;
  text-align: center;
  background: #004cd1;
  &:hover {
    background: rgba(4, 62, 163, 0.85);
  }
}

.menu-home__link {
  display: block;
  font-family: 'Roboto-Medium';
  text-decoration: none;
  padding: 13px 30px;
  white-space: nowrap;
}

.menu-home__item {
  border-right: solid 2px rgba(222, 227, 231, 0.50);
  &:last-child{border-right: none;}
}

.footer {
  position: absolute;
  bottom: 40px;
  width: 100%;
}

.footer__copiright {
  text-align: center;
  font-family: 'Roboto-Light';
}
