extends ../_layout

block variables
  - var title = one.Pages.wellcome.title
  - var author = one.Pages.wellcome.author
  - var description = one.Pages.wellcome.description
  - var keywords = one.Pages.wellcome.keywords
  - var bodyClass = one.Pages.wellcome.bodyClass

block content
  include ../common/wellcome