extends ../_layout

block variables
    - var title = one.Pages.works.title
    - var author = one.Pages.works.author
    - var description = one.Pages.works.description
    - var keywords = one.Pages.works.keywords
    - var bodyClass = one.Pages.works.bodyClass

block content
    include ../common/works